/* Main */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#box1{ grid-area: box1; }
#box2{ grid-area: box2; }
#box3{ grid-area: box3;}

main .sec-wrapper{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
   display: grid;
   grid-template-areas: 'box1 box1 box2' 'box1 box1 box3';
   height:20rem;
   margin: 60px auto;
   gap: 20px;
   width:70%;
   max-width: 1100px;
   position: relative;
}
.box-container .box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#box1{
    position: relative;
}
#box2{
    position: relative;
}
#box2 span{
    font-size: 32px;
}
#box2 p, #box3 p{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 240px;
    font-size: 20px;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%, -50%);
}
#box3{
    background-color: #060606;
    position: relative;
}
#box3 p{
    color: #fff;
}
#box3 #discount{
    font-size: 40px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #BA181B;
}
#box3 p{
    font-size: 22px;
}
.text{
    width:50%;
    position: absolute;
    height: 100%;
}
.text p{
    font-size: 35px;
    font-family: 'Inria Serif';
    padding: 20% 5%;
}
.text button{
    background-color: rgba(6, 6, 6,1);
    color: #fff;
    padding: 14px 24px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    position: absolute;
    bottom: 20px;
    margin:0 5%;
    transition: all .15s ease-in-out;
}
.text button a{
    text-decoration: none;
    color:#fff;
}
.text button:hover{
    background-color: rgba(0, 0, 0, 0.40);
    box-shadow: inset 2px 4px 10px rgba(0,0,0,.5);
    cursor: pointer;
}
.img{
    width: 50%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.img img{
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    object-fit: cover;
}

/* Products */
.product-con{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
}
.products-box{
    width: 100%;
    min-width: 100px;
    position: relative;
    max-width: 900px;
    margin:15px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#fff;
    border-radius: 5px;
}
.product-cat h3{
    border-bottom:1px solid #060606;
    padding: 10px 10px;
    width: 95%;
    text-transform: uppercase;
    margin: 0 auto;
}
.each-product-con{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top:35px;
}
.each-product-con .each-prod,.more{
    position: relative;
    cursor: pointer;
}
/* Product images */
.img-con img{
    max-width: 150px;
    width: 100%;
    min-width: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.align-container{
    border: 1px solid red;
}
/* cart */
.product-name-price-con{
    background-color: #060606;
    padding:5px 3px;
    margin-top: -5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.product-name-price-con p{
    color: #fff;
    width: 90%;
    font-size: 10px;
    text-align: center;
}
.add-cart-con{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(186, 24, 27,1);
    padding: 5px 5px;
    border-radius:5px;
    transition: 1s;
}
.add-cart-con:hover{
    background-color:rgb(247, 14, 18); 
}
.add-cart-con i{
    font-size: 22px;
}
.more{
 float: right;
 padding: 12px;
}
.more i{
    color: #060606;
    font-size: 20px;
}
.more i,span{
    font-weight: bold;
    vertical-align: top;
}
.more a{
    text-decoration: none;
    color: #000;
}

/* discover more */
.discover-more{
    margin: 100px 0;
}
.discover-more button:hover{
    border: 1px solid #BA181B;
    background-color:#BA181B;
    color:#fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:10px;
}

.discover-more button a{
    text-decoration: none;
    color: #060606;
    font-size: 100%;
    padding: 25px 32px;
    display: block;
    font-weight: bold;
    transition: 1s;
}
.discover-more button a:hover{
    color: #fff;
}
@media only screen and (max-width: 875px){
    .text p{
        padding: 5% 5%;
    }
    #box2 span{
        font-size: 25px;
    }
    .each-product-con .each-prod{
        margin-top: 30px;
    }    
    .each-product-con{
        margin-top:0;
    }
    .img{
       display: none;
    }
    #box1{
        background: url('main-img.jpg');
        background-size: cover;
    }
    .text p{
        color: #ddd;
    }

}
@media only screen and (max-width: 700px){
    .text p{
        padding: 5% 5%;
    }
    #box2 span{
        font-size: 25px;
    }
}
@media only screen and (max-width: 630px){
    .box-container{
        display: grid;
        grid-template-areas: 'box1 box1 box1' 
        'box1 box1 box1' 
        'box1 box1 box1'
        'box2 box2 box3';
        height:28rem;
        margin: 60px auto;
        gap: 20px;
        width:70%;
        max-width: 1100px;
        position: relative;
     }
     #box3{
        background-color: #060606;
        position: relative;
    }
    #box3 p{
        color: #fff;
    }
    #box3 #discount{
        font-size: 20px;
        padding: 0 10px;
        border-radius: 10px;
        background-color: #BA181B;
    }
    #box3 p{
        font-size: 14px;

        width: 100px;
    }
     
}
@media only screen and (max-width:392px){
    .text button{
        font-size: 12px;
        padding: 12px 10px;
    }
    .text p{
        font-size: 30px;
        font-family: 'Inria Serif';
        padding: 20% 5%;
    }

}
@media only screen and (max-width:292px){
    #box2,#box3{
        display: none;
    }
    .discover-more button a{
        padding: 10px 10px;
    }
    .text button{
        font-size: 12px;
        padding: 10px 5px;
    }
}